
.sidebar:after, body > .navbar-collapse:after {
    background: #ca3d3d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #282828), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #282828 0%, #111 100%);
    background: -o-linear-gradient(top, #282828 0%, #111 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#111));
    background: linear-gradient(to bottom, #1D5C90 0%, #1D5C90 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1;
}

.user-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 0!important;
}
.fms-logo {
    width: 130px;
    height: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main-menu-icons {
    padding-left: 10px;
    padding-right: 0!important;
    padding-bottom: 10px;
    padding-top: 6px;
}