
.search-box {
    border: 0 !important;
    padding-left: 2%;
    color: #4D4F5C;
}
.search-box> input {
    color: #4D4F5C!important;
}
.search-box::placeholder {
    background-image: url("../../assets/img/Search/Search Icon.png");
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 15%;
    color: #4D4F5C;
}

.search-container {
    padding-top: 1%;
    width: 80%;
}
.navbar-form .form-control {
    border-radius: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 22px;
    font-size: 16px;
    line-height: 1.5;
    color: #4D4F5C;
    width: 500px;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.96);
    border: 0;
}

.navbar .navbar-nav > li > a {
    padding: 10px 10px;
    margin: 5px 3px;
    position: relative;
}

.avatar-logo> a {
    padding-top: 5px!important;
}

.navbar-default .navbar-nav > li > a:not(.btn) {
    color: #4D4F5C;
    font-size: 14px;
    font-family: Regular;
}
.navbar-form .form-control {
    border-radius: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 22px;
    font-size: 16px;
    line-height: 1.5;
    color: #4D4F5C;
}

body {
    font-family: sans-serif;
}
.search-box {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 300px;
}

.no-suggestions {
    color: #999;
    padding: 0.5rem;
}

.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 1rem);
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}

.search-container {
    border: 1px solid #c0c0c0;
    border-bottom: 0!important;
    background-color: rgba(255, 255, 255, .99);
}
.search-container > span {
    margin-left: 60px;
}

a.fill-div {
    display: block;
    /*height: 100%;*/
    padding-left: 50px;
    padding-bottom: 5px;
    padding-top: 2px;
    width: 100%;
    text-decoration: none;
    color: #424242;
}
